body, html {
	height: 100%;
}
.landing-page-blocker{
	height: 100%;
	background-color: white;
	width: 100%;
}
.landing-page1{
	background-image: url("C:/Users/jasper/Desktop/OllieCurson/img/hongkong.jpg");
	height: 100%;
	width: 100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    position: absolute;
    top: 0px;
    z-index: 5;
    opacity: 0.65;

}
.landing-page2{
	background-image: url("C:/Users/jasper/Desktop/OllieCurson/img/brighton1.jpg");
	height: 100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 6;
    opacity: 0.65;
}
.landing-page3{
	background-image: url("C:/Users/jasper/Desktop/OllieCurson/img/brighton3.jpg");
	height: 100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: none;
    position: absolute;
    top: 0px;
    z-index: 7;
    opacity: 0.65;
}
.landing-page4{
	background-image: url("C:/Users/jasper/Desktop/OllieCurson/img/brighton2.jpg");
	height: 100%;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: none;
    position: absolute;
    top: 0px;
    z-index: 8;
    opacity: 0.65;
    
}

/* mobile navbar */

.mobile-nav {
	display: none;
}

/* navbar */

.nav-scroll-background{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 77px;
	z-index: 10;
	background-color: white;
	display: none;
}
.nav-bar {
	position: fixed;
	top: 0px;
	list-style: none;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 12.5px;
	text-align: center;
	font-family: 'Avenir Next W01', Helvetica, Arial ,sans-serif;
	color: white;
	font-weight: 750;
	height: 77px;
	width: 100%;
	z-index: 10;
}
.nav-bar i {
	font-size: 9px !important;
	opacity: 0.5;
}
.nav-scroll {
	position: fixed;
	width: 100%;
	top: 0px;
	color: #333 !important;
}
.nav-bar li {
	display: inline-block;
	padding: 30px 10px 30px 10px;
	cursor: pointer;
}
.chevron-padding {
	padding-bottom: 13px !important;
}
.nav-bar li:hover {
	color: #2ad59f;
}
.nav-right {
	float: right;
}
.nav-logo {
	height: 77px;
	width: 500px;
	font-size: 25px;
	letter-spacing: 10px;
	padding: 22px 0px 22px 75px;
	float: left;
}
.nav-scroll-background h1 {
	display: none;
	text-align: center;
	font-weight: bold;
}

.nav-galleries:hover .dropdown-galleries {
	overflow: hidden;
	height: 450px;
	box-shadow: 0px 3px 30px 2px #333;
}
.nav-galleries:hover .dropdown-galleries-container {
	display: block;
}

/* dropdown menus */

.dropdown-galleries {
	background-color: white;
	position: absolute;
	z-index: 17;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 13px;
	width: 1200px;	
	height: 0px;
	-webkit-transition:height 300ms ease;
    -moz-transition:height 300ms ease;
    -o-transition:height 300ms ease;
    transition:height 300ms ease;
}
.dropdown-galleries-container {
	width: 100%;
	height: 100%;
	display: none;
	font-weight: normal;
	cursor: context-menu;
}
.dropdown-about {
	width: 280px;
	height: 450px;
	float: left;
	padding: 50px 25px 0px 50px;
	margin-right: 25px;
	text-align: left;
}
.dropdown-gallery-title {
	margin-bottom: 120px;
	font-size: 22px;
	color: #333;
	font-weight: bold;	
	font-family: 'Avenir Next W01', Helvetica, Arial ,sans-serif !important;
	cursor: auto;
}
.dropdown-current-gallery {
	margin-bottom: 20px;
	font-size: 17px;
	color: #333;
	font-weight: bold;
	cursor: pointer;
}
.dropdown-current-gallery a {
	color: #333;
}
.dropdown-current-gallery a:hover {
	text-decoration: none;
	color: #2ad59f;
}
.dropdown-gallery-text {
	font-size: 13px;
	color: #333;
	cursor: auto;
}
.dropdown-picture-container-container {
	width: 540px;
	height: 450px;
	padding: 65px 25px 65px 25px;
	margin-right: 25px;
	margin-left: 25px;
	float: left;
}
.dropdown-picture-container {
	width: 490px;
	height: 320px;
}
.dropdown-picture {
	width: 490px;
	height: 320px;
	position: absolute;
	z-index: 17;
}
.dropdown-gallery-description {
	width: 205px;
	position: absolute;
	z-index: 17;
}
.gallery-name2 {
	display: none;
	background: white;
}
.gallery-name3 {
	display: none;
	background: white;
}
.gallery-name4 {
	display: none;
	background: white;
}
.dropdown-picture img {
	width: 100%;
	height: 100%;
}
.dropdown-vr {
	border-left: solid 1px #eee;
	height: 350px;
	margin-top: 50px;
	float: left;
}
.dropdown-list {
	width: 250px;
	height: 450px;
	float: left;
	text-align: left;
	padding-top: 50px;
}
.dropdown-list li {
	font-size: 17px;
	color: #333;
	padding: 0px 0px 15px 0px;
	cursor: pointer;
}
.dropdown-list ul {
	padding: 0px;
	margin-left: 50px;
}
.logo {
	position: absolute;
	top: 25px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	color: white;
	text-align: center;
	margin-top: 17%;
	z-index: 9;
	color: #fff;
	letter-spacing: 10px;
	font-size: 25px !important;
	width: 379px;
}
.logo-name {
	margin:auto;
	background-color: #111;
	padding: 18px 8px 18px 18px;
	min-width: 100px;
}
/* about me section */

.about-container {
	width: 900px;
	height: 200px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	color: #222;
}
.about-text {
	margin-bottom: 100px;
}
.about-text p {
	font-size: 16px;
	font-family: 'Avenir Next W01', Helvetica, Arial ,sans-serif;
}

/* blog section */

.blog-container {
	color: #222;
	width: 900px;
	height: 700px;
	margin: auto;
	margin-bottom: 150px;
	font-family: 'Avenir Next W01', Helvetica, Arial ,sans-serif;
}
.blog-picture {
	width: 550px;
	height: 700px;
	margin: auto;
	background-image: url("C:/Users/jasper/Desktop/OllieCurson/img/brighton1.jpg");
}
.blog-title-container {
	margin-top: 75px;
	margin-left: 70px;
	position: absolute;
	z-index: 1;
}
.blog-title {
	font-size: 42px;
}
.blog-view-latest{
	font-size: 15px;
	border-bottom: solid #2ad59f 3px;
	width: 71px;
}
.blog-text {
	width: 250px;
	height: 150px;
	position: absolute;
	z-index: 1;
	font-size: 22px;
	margin-left: 650px;
	margin-top: 450px;
}
/* parralax-image */

.parralax-image{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('C:/Users/jasper/Desktop/OllieCurson/img/hongkong.jpg');
    min-height: 350px;
    margin-bottom: 100px;
}
.parralax-text {
	background-color: #111;
	color: #fff;
	font-size: 22px;
	padding: 18px;
	position: absolute;
	top: 140px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	width: 400px;
}

/* Galleries section */

.galleries-title {
	text-align: center;
	text-decoration: underline;
	font-size: 25px;
	margin-bottom: 35px;
	color: #222;
	font-weight: bolder;
}

.galleries-container {
	margin: auto;
	width: 950px;
	height: 380px;
}
.galleries-inner {
	position: absolute;
	z-index: 0;
	width: 950px;
	height: 380px;
}
.galleries {
	height: 380px;
	width: 250px;
	margin-left: 50px;
	float: left;
}
.galleries img {
	max-width: 100%;
	height: 100%;
}
.galleries img:hover {
}
.galleries-inner-hover {
	position: absolute;
	z-index: 1;
	width: 950px;
	height: 380px;
}
.galleries-hover {
	height: 380px;
	width: 250px;
	margin-left: 50px;
	float: left;
}
.galleries-hover img {
	opacity: 0;
	max-width: 100%;
	height: 100%;
	box-shadow: 0px 3px 8px 3px #333;
}
.galleries-hover img:hover {
	opacity: 1;
}
.galleries-caption-container {
	width: 950px;
	height: 40px;
	margin: auto;
	margin-bottom: 100px;
}
.galleries-caption {
	width: 250px;
	float: left;
	margin-left: 50px;
	padding: 10px;
	text-align: center;
}

/* instagram feed */

.instagram-title {
	font-size: 22px;
	margin-top: 100px;
	padding-left: 800px;
}
.instagram-follow {
	font-weight: bolder;
	font-size: 13px;
	margin-left: 800px;
	width: 80px;
}
.instagram-link {
	color: #333;
}
.instagram-title-container i {
	margin-left: 5px;
}
.instagram-title-container a:hover {
	text-decoration: none !important;
}
.instagram-title-container a:hover .instagram-follow {
	text-decoration: underline;
	text-decoration-color: #2ad59f;
	color: #333;
}
.instagram-title-container a:hover .instagram-follow i{
	color: #2ad59f;
}
.instagram-container {
	width: 1200px;
	height: 600px;
	margin: auto;
	margin-bottom: 100px;
}
.instagram-inner {
	width: 400px;
	height: 600px;
	float: left;
}
.instagram-small-img {
	width: 150px;
	height: 150px;
	margin: 25px;
	float: left;
}
.instagram-large-img {
	width: 350px;
	height: 350px;
	margin: 25px;
	float: left;
}
.instagram-large-img img {
	width: 100%;
	height: 100%;
}
.instagram-small-img img {
	width: 100%;
	height: 100%;
}

/* footer */

.footer-contact {
	margin-left: 60px;
	font-size: 17px;
	float: left;
}
.footer-contact i {
	font-size: 22px;
	padding-bottom: 10px;
}
.footer-social-media {
	float: right;
	font-size: 30px;
	margin-bottom: 20px;
	margin-right: 50px;
}
.footer-social-media a {
	color: #333;
	padding: 10px;
}
.footer-social-media a:hover {
	color: #2ad59f;
	cursor: pointer;
}

/* RESPONSIVE MOBILE */

.mobile-nav-scroll {
	color: #333 !important;
}
@media screen and (max-width: 768px) {

	/* navbar hide */

	.nav-bar {
		display: none;
	}

	/* mobile navbar */

	.mobile-nav {
		display: block;
		position: fixed;
		top: 15px;
		right: 25px;
		z-index: 20;
		font-size: 35px;
		color: white;
		height: 77px;
		width: 77px;
	}
	.mobile-nav:hover {
		color: #2ad59f;
		cursor: pointer;
	}
	.mobile-nav-list {
		height: 0px;
		width: 150px;
		position: fixed;
		top: 77px;
		right: 5px;
		z-index: 20;
		background: white;
		text-align: center;
	}
	.mobile-nav-list ul {
		list-style-type: none;
		padding: 0px;
	}
	.mobile-nav-list li {
		padding: 10px;
		font-size: 17px;
		color: #333;
	}
	.mobile-nav-list li:hover {
		color: #2ad59f;
	}
	.mobile-nav-list-container{
		display: none;
		width: 150px;
	}
	.mobile-nav:hover  .mobile-nav-list {
		height: 300px;
		overflow: hidden;
		-webkit-transition:height 300ms ease;
        -moz-transition:height 300ms ease;
        -o-transition:height 300ms ease;
        transition:height 300ms ease;
        box-shadow: 0px 3px 30px 2px #333;
	}
	.mobile-nav:hover .mobile-nav-list-container {
		display: block;
	}
	.nav-logo {
		font-size: 20px;
		padding: 27px 0px 27px 50px;
	}
}
